* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol, li {
    list-style: none;
}

body {
    padding: 4rem;
    background-color: yellow;
    width: 100vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-bottom: 4rem;
    border-bottom: 5px solid tomato;
}

header img {
    height: 3rem;

}

header input {
    height: 3rem;
    flex-grow: 1;
    border: 2px solid red;
    outline: none;
    border-radius: 4px;
    padding: 0 12px;
}

button {
    display: none;
    height: 3rem;
    background-color: red;
    color: white;
    padding: 0px 8px;
    border: none;
    border-radius: 4px;
    min-width: 100px;
}

button.button-show {
    display: block;
}

main {
    width: 100%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.container {
    width: 100%;
    display: none;
    gap: 4rem;
    flex-wrap: wrap;
}

main.cardShow .container {
    display: flex;
}

main.formShow form {
    display: flex;
}

.cardContato {
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
    box-shadow: 2px 2px 8px rgba(255, 0, 212, 1);
    border-radius: 50%;
    border-bottom: 32px solid red;
}

.cardContato img {
    width: 160px;
    height: 160px;
    border: 2px solid pink;
    border-radius: 50%;
}

.cardContato h2 {
    color: red;
}

.cardContato p {
    color: red;
}

form {
    width: 80%;
    margin: auto;
    display: none;
    flex-wrap: wrap;
    gap: 32px;
    padding: 32px;
}

.preview {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid brown;
    overflow: hidden;
}

.previewInput {
    display: none;
}

.previewLabel {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
}

.previewImage {
    height: 100%;
    width: 100%;
}

.inputContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input {
    display: flex;
    flex-direction: column;
}

.inputText {
    height: 32px;
    border: 1px solid red;
    border-radius: 2px;
    padding-left: 16px;
}

.inputText:focus {
    border: 10px solid blueviolet;
}

.buttonContainer {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
}
